---
import FeatureTile from "./FeatureTile.astro";

// src/components/Features.astro
---

<section
  class="dark:bg-gray-900 dark:text-white py-16"
  id="features"
>
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-bold mb-4">
      Everything you need to deploy your app
    </h2>
    <p class="text-gray-400 mb-8">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus magnam
      voluptatum cupiditate veritatis in accusamus quisquam.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <FeatureTile
        title="Automate"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam."
        ><svg
          slot="icon"
          class="w-12 h-12 mx-auto"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 8v4l3 3m-3-7a4 4 0 100 8 4 4 0 000-8z"
          ></path></svg
        ></FeatureTile
      >
      <FeatureTile
        title="Deploy"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam."
        ><svg
          slot="icon"
          class="w-12 h-12 mx-auto"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5 13l4 4L19 7"
          ></path></svg
        ></FeatureTile
      >
      <FeatureTile
        title="Monitor"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam."
        ><svg
          slot="icon"
          class="w-12 h-12 mx-auto"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 5v.01M12 12v.01M12 19v.01"
          ></path><path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5 12h.01M12 5l7 7-7 7-7-7z"
          ></path></svg
        ></FeatureTile
      >
    </div>
  </div>
</section>
